* {
  box-sizing: border-box;
}
$maincolor: rgb(36, 36, 36);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;

  height: 100vh;
  background-color: $maincolor;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  align-items: center;
}

.rightL {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(../../source/img/awd.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .right__kostil {
    color: transparent;
  }
}
.rightS {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(../../source/img/signup.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .right__kostil {
    color: transparent;
  }
}

.header > h2 {
  margin: 0;
  color: #ffffff;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  background-color: rgb(41, 41, 41);
  transition: 0.2s;
  margin-top: 20px;
  color: white;
  width: 300px;
}

.form-field:focus {
  border-color: rgb(55, 140, 39);
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #107502 0%, #202020 100%);
  border-radius: 5px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 3px;

  &:active {
    background: linear-gradient(to right, #000000 0%, #202020 100%);
  }
}

.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

.error__message__text {
  position: fixed;
  background-color: rgba(255, 0, 0, 0.199);
  height: 40px;
  width: 90%;
  top: 30px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  &:empty {
    visibility: hidden;
  }
}
